/*HTML Section*/
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body{
	font-family: 'Roboto Slab', serif;
	z-index:2;
	line-height: normal;
}

footer{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	height:200px;
	background-image:url(../assets/patternBack.jpg);
	background-color:black;
	color:white;
	z-index: 1;
}

h1{
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
/*End HTML Section*/

/*Custom Section*/
.elsaLogo{
	text-decoration:none;
	font-size:35px;
	font-weight:700;
	color:#5966a3;
}

.elsaLogo:hover{
	text-decoration: none;
	-webkit-animation: colorChange 2s infinite; 
}

.footerLinkStyle{
	font-family: 'Roboto Slab', serif;
	text-decoration:none;
	color:white;
	font-size:32px;
	margin-right:10px;
}

#about{
	height: 700px; 
	width: 100%; 
	background-color:white;
	position: relative;
	z-index: 2;
}

#services{
	height: 700px; 
	width: 100%; 
	background-color:black;
	color:white;
	position: relative;
	z-index: 2;
}

#gallery{
	height: 700px; 
	width: 100%; 
	background-color:white;
	position: relative;
	z-index: 2;
}

#contact{
	height: 700px; 
	width: 100%; 
	background-color:gray;
	position: relative;
	z-index: 2;
}

#navLinkPositioning{
	padding-top: 5px;
	margin-right: 5px;
	background-color: white;
}

#footer{
	height:200px;
}

#nav{
	height:50px;
	overflow: hidden;
}

.navbar-header img {
	margin-top: -23px;
	margin-bottom: -2px;
}

.bottomShadow{
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
}

.topShadow{
	-webkit-box-shadow: 0 -1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 -1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
}

.topAndBottomShadow{
	-webkit-box-shadow: 0 0px 5px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 0px 5px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
}

/*Things inside the @media tag have a twin tag outside of the @media that size the minimized/phone version of the site.
	Basically, if the screen is larger than 768px, then use these definitions, else use the other tag.*/
@media (min-width: 768px) {
	#navLinkPositioning{
		padding-top: 30px;
		height: 25px;
	}

	#nav{
		height:75px;
	}

	.elsaLogo{
		text-decoration:none;
		font-size:57px;
		font-weight:700;
		color:#5966a3;
	}

	.navbar-header img {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
/*End Custom Section*/

/*Bootstrap Override Section*/

.navbar-default{
	height:75px;
	border:none;
	background-color: white;
}

.jumbotron{
	height:600px;
	margin:0px;
	background:url(../assets/fancy.jpg) 0 repeat fixed;
	color:white;
	position: relative;
	z-index: 2;
}

.navbar{
	margin-bottom: 0px;
}

.navbar-nav{
	margin:0px;
}

.navbar-default{
	height:50px;
}

.navbar-header{
	overflow: hidden;
}

@media (min-width: 768px) {
	.navbar-default{
		height:75px;
	}
}

/*End Bootstrap Section*/

/*Animation Section*/
@-webkit-keyframes colorChange {
	0% {color:#5966a3;}
	50% {color:#323a5e;}
	100% {color:#5966a3;}
}

/*End Animation Section*/