/*HTML Section*/
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
	z-index:2;
	line-height: normal;
}

footer{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	height:200px;
	background-image:url(../assets/footerBack.png);
	background-color:black;
	color:white;
	z-index: 1;
}

h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

/*End HTML Section*/

/*Custom Section*/
#intro{
width:100%;

background-color: white;
position:relative;
	z-index: 2;
}

#intro #header{
height:90px;
width:190px;
background: url(../assets/boxLogoStudios.png) no-repeat;
background-size: contain;
margin:10px auto 10px auto;

}

.elsaLogo{
	text-decoration:none;
	font-size:35px;
	font-weight:700;
	color:#5966a3;
}

.elsaLogo:hover{
	text-decoration: none;
	-webkit-animation: colorChange 2s infinite; 
}

.footerLinkStyle{
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration:none;
	color:white;
	font-size:32px;
	margin-right:10px;
}

#about{
	height: 1000px; 
	width: 100%; 
	padding-top:75px;
	background-color:white;
	position: relative;
	z-index: 2;
}

#services{
	height: 700px; 
	width: 100%; 
	background-color:black;
	color:white;
	position: relative;
	z-index: 2;
}

#gallery{
	height: 700px; 
	width: 100%; 
	background-color:white;
	position: relative;
	z-index: 2;
}

#contact{
	height: 700px; 
	width: 100%; 
	background-color:gray;
	position: relative;
	z-index: 2;
}

#navLinkPositioning{
	padding-top: 5px;
	margin-right: 5px;
	background-color: white;
}

#navLinkPositioning a{
	font-weight: 400;
	font-size:20px;
	-webkit-transition:background-color .25s;
}

#navLinkPositioning a:hover{
	background-color:#5966a3;
	color:white;
}

#footer{
	height:200px;
}

.navbarHide{
	top:0px;
}

.navbar-header img {
	height:50px;
}

.bottomShadow{
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
}

.topShadow{
	-webkit-box-shadow: 0 -1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 -1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
}

.topAndBottomShadow{
	-webkit-box-shadow: 0 0px 5px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 0px 5px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
}

.transparency{
	opacity:.9;
	filter:alpha(opacity=90);  
	-moz-opacity:0.9;  
	background-color: white;
	width:100%;
	height:50px;
	position: absolute;
	top:0px;
	left:0px;
	z-index: -1;
}

.pulsingGlyphicon{
	width: 77px !important;
	color:black;
	font-size: 72px;
	-webkit-animation: colorChange 2s infinite; 
}

.fadeIn.start {
    -webkit-animation: blurIn .5s;
       -moz-animation: blurIn .5s;
        -ms-animation: blurIn .5s;
         -o-animation: blurIn .5s;
            animation: blurIn .5s;
}

.fadeIn.stop {
    -webkit-animation: blurOut .5s;
       -moz-animation: blurOut .5s;
        -ms-animation: blurOut .5s;
         -o-animation: blurOut .5s;
            animation: blurOut .5s;
}

.noTextDecor{
text-decoration: none !important;
}

.bounce:hover{
    -webkit-animation: bounce 1.5s infinite;
       -moz-animation: bounce 1.5s infinite;
        -ms-animation: bounce 1.5s infinite;
         -o-animation: bounce 1.5s infinite;
            animation: bounce 1.5s infinite;

}


/*Things inside the @media tag have a twin tag outside of the @media that size the minimized/phone version of the site.
Basically, if the screen is larger than 768px, then use these definitions, else use the other tag.*/
@media (min-width: 768px) {
	#navLinkPositioning{
		height: 25px;
		background-color: transparent;
	}

	.elsaLogo{
		text-decoration:none;
		font-size:57px;
		font-weight:700;
		color:#5966a3;
	}

	.navbar-header img {
		margin-top: 0px;
		margin-bottom: 0px;
		height: 75px;
	}

	.transparency{
		height:50px;
	}

	.navbarHide{
	top:-100px;
}
}
/*End Custom Section*/

/*Bootstrap Override Section*/

.navbar-default{
	height:75px;
	border:none;
	background-color: transparent;
}

.jumbotron{
	margin:0px;
	height:500px;
	background:url(../assets/fancyBack.png) 0 repeat fixed #b5bee9;
	color:white;
	position: relative;
	z-index: 2;
}

.navbar{
	margin-bottom: 0px;
}

.navbar-nav{
	margin:0px;
}

.navbar-default{
	height:50px;
}

.navbar-header{
	overflow: hidden;
}

.jumbotron h1,
.jumbotron .h1 {
  color: white;
}

@media (min-width: 768px) {

}

/*End Bootstrap Section*/

/*Animation Section*/
@-webkit-keyframes colorChange {
	0% {color:black}
	50% {color:gray;}
	100% {color:black;}
}


@-webkit-keyframes blurIn {
	0% {-webkit-filter: blur(20px);  visibility:visible;}
	100% {-webkit-filter: blur(0px); visibility:visible;}
}

@-webkit-keyframes blurOut {
	0% {-webkit-filter: blur(0px); visibility:visible;}
	100% {-webkit-filter: blur(20px); visibility:visible;}
}

@-webkit-keyframes linkColorChange {
	0% {color:#777777; background-color: transparent;
		-webkit-box-shadow: none;
		box-shadow: none; }
	50% {color:white; background-color: #5966a3;	
			-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
			box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1); }
	100% {color:#777777; background-color: transparent;	
				-webkit-box-shadow: none;
				box-shadow: none; }
}

.animated{
-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;
animation-fill-mode:both;
-webkit-animation-duration:1.5s;
-moz-animation-duration:1.5s;
-ms-animation-duration:1.5s;
-o-animation-duration:1.5s;
animation-duration:1.5s;
}

.animated.hinge{-webkit-animation-duration:1.5s;
	-moz-animation-duration:1.5s;
	-ms-animation-duration:1.5s;
	-o-animation-duration:1.5s;
	animation-duration:1.5s;}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
/*End Animation Section*/